@import "../node_modules/neal-react/css/base";

.neal-section.TeamSection .col-xs-12 {
  padding-left: 0px;
  padding-right: 0px;
}

.contact-h5 {
  color: #8C3193;
}

.qlab-button {
  color: white;
  background-color: #8C3193;
}

.contact-label {
  color: #8C3193;
}

.neal-page .contact-category {
  color: #8C3193;
  margin-bottom: 0px;
}
