@import "../node_modules/neal-react/css/base";

.jumbotron-size {
  height: 100px;
}

.mainpage-img {
}

.mainpage-h1 {
  position: relative;
  top: 50px;
}

.btn.btn-white.mainpage {
  @include ghost-button(#fff, rgba(#fff, 0.80));
  position: relative;
  top: 100px;
}

.neal-hero.jumbotron.background-mainpage {
  background-size: cover;
  background-position-y: 10%;
  background-position: 50%;
  margin-bottom: 0rem;
  padding-top: 10rem;
  padding-bottom: 13rem;
  color: #fff;
}

.neal-hero.jumbotron.home {
  margin-bottom: 0px;
  height: 1000px
}
