@import "../node_modules/neal-react/css/base";

.science .row {
  min-height: 600px;
}

.fMRI {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tES {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
